body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://lh3.googleusercontent.com/proxy/xhbawbTJoGgD7g_nbNtCJSVWX_8PDdlLS-_tErFh5-XX14YVZcmiipC2K_Fkj9iaEXexD7qCR6E_54wupX2gOkDrCD5hHta09EsdGEx8NjwfOyyr1izS3yIBWKG9C-Q") ;
background-size: 100%;
  background-color:#444;
  font-size: 18px;
position: relative;
overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding: 10px 20px 11px;
  font-size: 20px;
  float: right;
  cursor: pointer;
}
.topbar{
  height:56px;
  background-color: #555;
}
.title{
  background-color: #555;
  padding: 10px 20px 11px;
  font-weight: bold;
}
.pokeball{
  position: absolute;
}
.bulbasaur {
  position: absolute;
}
.charmander {
  position: absolute;
}
.squirtle {
  position: absolute;
}
.lineup, .duo {
  padding: 10px 20px 11px;
  float: left;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}
 .addBulbasaur {
  padding: 5px 12px;
  float: right;
  font-size: 20px;
  border-radius: 12px;
  background-color: #4CAF50;
  cursor: pointer;
}
.addSquirtle {
  padding: 5px 12px;
  float: right;
  font-size: 20px;
  border-radius: 12px;
  background-color: #008CBA;
  cursor: pointer;
}
.addCharmander {
  padding: 5px 12px;
  float: right;
  font-size: 20px;
  border-radius: 12px;
  background-color: #f44336;
  cursor: pointer;
}

