body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://lh3.googleusercontent.com/proxy/xhbawbTJoGgD7g_nbNtCJSVWX_8PDdlLS-_tErFh5-XX14YVZcmiipC2K_Fkj9iaEXexD7qCR6E_54wupX2gOkDrCD5hHta09EsdGEx8NjwfOyyr1izS3yIBWKG9C-Q") ;
background-size: 100%;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.bulbasaur {
  position: absolute;
}
.charmander {
  position: absolute;
}
.squirtle {
  position: absolute;
}